.sfdx
.venv
.env
venv
service-account-key.json
service-account-key-test.json
service-account-key-prod.json
pima-gcp-3092e823c8ce.json
Dockerfile
Dockerfiles
tns-coffee-data-dd3990b8535e.json
application_default_credentials.json
application_default_credentials_prod.jsons
application_default_credentials_mine.jsons
**/__pycache__/
git-diagnostics-2025-01-27-0850.zip
app/utils/__pycache__/
# app/utils/participant_check_util.py
# app/jobs/commcare_to_salesforce/farm_visit.py
# app/jobs/commcare_to_salesforce/training_observation.py