Flask[async]==3.0.3
requests
google-cloud-firestore
python-dotenv
simple-salesforce==1.12.6
google-cloud-logging
pytest 
pytest-mock
datetime
aiohttp
httpx
SQLAlchemy>=2.0
psycopg2-binary>=2.9
geoalchemy2>=0.13
shapely